.iframe-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;

  width: 100%;
  margin-bottom: 30px;
  min-height: 450px;
}

.loader {
  position: absolute;
  top: 90px;
  border: 12px solid rgb(216, 216, 216);
  /*border-top: 16px solid #3498db;*/
  border-top: 12px solid #00a599; /* rgb(248, 175, 177);*/
  border-bottom: 12px solid #00a599;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

.loader-hide {
  opacity: 0;
  transition: opacity 0.5s 0.5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

iframe {
  opacity: 0;
  width: 70%;
  height: 100%;
  min-height: 450px;
}

.iframe-appear {
  opacity: 1;
  transition: opacity 1s 0.5s;
}

@media (max-width: 850px) {
  iframe {
    width: 90%;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .background-img-wrapper {
    display: none;
  }
  .iframe-wrapper {
    margin-top: 140px;
    margin-bottom: 0px;
  }
  iframe {
    min-height: 700px;
  }
}
